<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.jeef.today</string>
	<key>connections</key>
	<dict>
		<key>0ABF3E4E-934B-4EE9-9C6B-BA10DF534B47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F81D499-33A5-44E8-8D22-F6309229F43B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F81D499-33A5-44E8-8D22-F6309229F43B</key>
		<array/>
		<key>6AE08695-EE61-42D3-91F0-5CC3F4D9432D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7C83B7F-D112-4AA1-B7A3-20257A0F3D52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9685A5A9-008A-40CA-836D-5F71CD1D7481</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C376C0C-F5B2-4E9A-8E56-AB87B3C51E5E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C648C777-D441-4C9C-97A0-F561B76C99BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0ABF3E4E-934B-4EE9-9C6B-BA10DF534B47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7C83B7F-D112-4AA1-B7A3-20257A0F3D52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C648C777-D441-4C9C-97A0-F561B76C99BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jeff Stein</string>
	<key>description</key>
	<string>Exchange Server Today Menu</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Today Menu</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query=$1

python keychain.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6AE08695-EE61-42D3-91F0-5CC3F4D9432D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>set value</string>
				<key>subtext</key>
				<string>{query}</string>
				<key>text</key>
				<string>{var:text_to_display}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D7C83B7F-D112-4AA1-B7A3-20257A0F3D52</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

python StoreData.py $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3F81D499-33A5-44E8-8D22-F6309229F43B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>C648C777-D441-4C9C-97A0-F561B76C99BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>value_to_store</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0ABF3E4E-934B-4EE9-9C6B-BA10DF534B47</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>today</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Calendar</string>
				<key>script</key>
				<string>query=$1

python today.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>~/devel/exchangeAPI/today.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Today</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9685A5A9-008A-40CA-836D-5F71CD1D7481</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6C376C0C-F5B2-4E9A-8E56-AB87B3C51E5E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>The Today Menu workflow will connect via EWS to a Microsoft Exchange server (ONLY USING BASIC AUTHORIZATION) and do a query to pull down the "Whats going on today" menu.  

It "may" be stuck on East Coast time for the time being - although tihs will eveentually likely get updated?  

If you use LYNC or SKYPE and embed meetings in your evetns this workflow can also try to parse those guys out.</string>
	<key>uidata</key>
	<dict>
		<key>0ABF3E4E-934B-4EE9-9C6B-BA10DF534B47</key>
		<dict>
			<key>note</key>
			<string>Sets what value to store for the storage option</string>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>3F81D499-33A5-44E8-8D22-F6309229F43B</key>
		<dict>
			<key>note</key>
			<string>Stores configuraiton data to disk</string>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>6AE08695-EE61-42D3-91F0-5CC3F4D9432D</key>
		<dict>
			<key>note</key>
			<string>Configuration Object</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>6C376C0C-F5B2-4E9A-8E56-AB87B3C51E5E</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>9685A5A9-008A-40CA-836D-5F71CD1D7481</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>C648C777-D441-4C9C-97A0-F561B76C99BA</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>D7C83B7F-D112-4AA1-B7A3-20257A0F3D52</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/jeeftor/alfredToday</string>
</dict>
</plist>
