<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.jeef.today</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0ABF3E4E-934B-4EE9-9C6B-BA10DF534B47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F81D499-33A5-44E8-8D22-F6309229F43B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1E30DB2A-00F2-4C02-89B0-2C51CBEF5231</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>629EE274-2500-46EC-8DA5-35CD866A56C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2FD9C804-F0F1-4F90-8C9C-59A8C2AB78A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83FB8DCA-2FEC-4B0A-94E5-E1E35F80F549</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>361EEA91-97CF-4908-8628-5F29198F42E6</key>
		<array/>
		<key>3F81D499-33A5-44E8-8D22-F6309229F43B</key>
		<array/>
		<key>41AF5BED-C2EE-4FDC-B9DF-AFDEB347F6A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB49C951-D08C-4C86-88D1-E55D150207DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5396CADE-8847-4968-9A2F-051C2730315E</key>
		<array/>
		<key>629EE274-2500-46EC-8DA5-35CD866A56C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C376C0C-F5B2-4E9A-8E56-AB87B3C51E5E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67A81BBE-1261-4883-8590-56E22BC259EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7C83B7F-D112-4AA1-B7A3-20257A0F3D52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6AE08695-EE61-42D3-91F0-5CC3F4D9432D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9DAF303-DE18-4AF4-BFC2-882DA3F30140</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6CB617B9-B4FE-4CA5-9806-FA07E8C7DAB5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>361EEA91-97CF-4908-8628-5F29198F42E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76384EE5-7AB7-4FE2-8C3E-606BDCD5D54C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5396CADE-8847-4968-9A2F-051C2730315E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83FB8DCA-2FEC-4B0A-94E5-E1E35F80F549</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E54262CD-7EE8-42E4-A277-823EB0492941</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93885FA3-1489-43F1-ABDC-C30454BCE345</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9685A5A9-008A-40CA-836D-5F71CD1D7481</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9685A5A9-008A-40CA-836D-5F71CD1D7481</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C376C0C-F5B2-4E9A-8E56-AB87B3C51E5E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B95A7CF4-4AF9-4388-8B53-E8CB6F3350FC</key>
		<array/>
		<key>BB49C951-D08C-4C86-88D1-E55D150207DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76384EE5-7AB7-4FE2-8C3E-606BDCD5D54C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B95A7CF4-4AF9-4388-8B53-E8CB6F3350FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF83BB0D-9D59-416E-8049-8F1E25A79367</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FD9C804-F0F1-4F90-8C9C-59A8C2AB78A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C648C777-D441-4C9C-97A0-F561B76C99BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0ABF3E4E-934B-4EE9-9C6B-BA10DF534B47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9DAF303-DE18-4AF4-BFC2-882DA3F30140</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF83BB0D-9D59-416E-8049-8F1E25A79367</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>67A81BBE-1261-4883-8590-56E22BC259EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7B433338-B013-4871-9B80-8C2013262197</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7C83B7F-D112-4AA1-B7A3-20257A0F3D52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C648C777-D441-4C9C-97A0-F561B76C99BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E54262CD-7EE8-42E4-A277-823EB0492941</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9916EA2D-97B9-45BC-BAF6-C04A41BD96D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jeff Stein</string>
	<key>description</key>
	<string>Outlook &amp; Google Today Menu</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred Today</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python authorizeGoogle.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9916EA2D-97B9-45BC-BAF6-C04A41BD96D3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

python StoreData.py $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2FD9C804-F0F1-4F90-8C9C-59A8C2AB78A7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:value_to_store}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>E54262CD-7EE8-42E4-A277-823EB0492941</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:settings_value}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>use_google</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>83FB8DCA-2FEC-4B0A-94E5-E1E35F80F549</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>refresh</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>BF83BB0D-9D59-416E-8049-8F1E25A79367</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query=$1

python settings.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6AE08695-EE61-42D3-91F0-5CC3F4D9432D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>C9DAF303-DE18-4AF4-BFC2-882DA3F30140</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>refresh</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>67A81BBE-1261-4883-8590-56E22BC259EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>set value</string>
				<key>subtext</key>
				<string>{query}</string>
				<key>text</key>
				<string>Set {var:text_to_display}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D7C83B7F-D112-4AA1-B7A3-20257A0F3D52</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

python StoreData.py $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3F81D499-33A5-44E8-8D22-F6309229F43B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>C648C777-D441-4C9C-97A0-F561B76C99BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>value_to_store</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0ABF3E4E-934B-4EE9-9C6B-BA10DF534B47</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}

{var:value_to_store}</string>
				<key>cleardebuggertext</key>
				<true/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>7B433338-B013-4871-9B80-8C2013262197</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"imagefile":"f7dae7a6ca3b9b6a319f5a97f92e1813dfe4ba6e.png","title":"Keep Today Configuration As-Is","arg":"False","subtitle":"Dont do anything"},{"imagefile":"7ba8e77fb67d07bcb74791c616bd47339941b528.png","title":"Reset Today Configuration to Default","arg":"True","subtitle":"This will restore the workflow to its default state"}]</string>
				<key>keyword</key>
				<string>tcreset</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Reset options to default</string>
				<key>title</key>
				<string>Clear Options</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>6CB617B9-B4FE-4CA5-9806-FA07E8C7DAB5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

python reset.py $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>361EEA91-97CF-4908-8628-5F29198F42E6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>today</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Calendar Data (this can take a few seconds)</string>
				<key>script</key>
				<string>query=$1

python doubleQuery.py 0
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>~/devel/exchangeAPI/today.py</string>
				<key>subtext</key>
				<string>Today</string>
				<key>title</key>
				<string>Today</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9685A5A9-008A-40CA-836D-5F71CD1D7481</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>Today</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>93885FA3-1489-43F1-ABDC-C30454BCE345</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6C376C0C-F5B2-4E9A-8E56-AB87B3C51E5E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tomorrow</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Calendar Data (this can take a few seconds)</string>
				<key>script</key>
				<string>query=$1
python doubleQuery.py 1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>~/devel/exchangeAPI/today.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Tomorrow</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>629EE274-2500-46EC-8DA5-35CD866A56C9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>Tomorrow</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>1E30DB2A-00F2-4C02-89B0-2C51CBEF5231</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>{var:day}</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>5396CADE-8847-4968-9A2F-051C2730315E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>76384EE5-7AB7-4FE2-8C3E-606BDCD5D54C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>NotifyOfUpdate</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>41AF5BED-C2EE-4FDC-B9DF-AFDEB347F6A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>day</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BB49C951-D08C-4C86-88D1-E55D150207DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>View has been refreshed</string>
				<key>title</key>
				<string>{query} Data Changed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B95A7CF4-4AF9-4388-8B53-E8CB6F3350FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Today Menu 3.0

Shows a today menu from Google Calendar and Microsoft Exchange 365

If you are using exchange currently it will only connect via EWS to a Microsoft Exchange server (ONLY USING BASIC AUTHORIZATION) and do a query to pull down the "Whats going on today" menu.  

It "may" be stuck on East Coast time for the time being

Uses a configurable cache

If you use LYNC or SKYPE and embed meetings in your evetns this workflow can also try to parse those guys out.

Will parse hangout meetings from list


Commands:

tc (config)
today 
tomorrow

Prelim NTLM support</string>
	<key>uidata</key>
	<dict>
		<key>0ABF3E4E-934B-4EE9-9C6B-BA10DF534B47</key>
		<dict>
			<key>note</key>
			<string>Sets what value to store for the storage option</string>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>1E30DB2A-00F2-4C02-89B0-2C51CBEF5231</key>
		<dict>
			<key>note</key>
			<string>External trigger that allows for autorefresh</string>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>2FD9C804-F0F1-4F90-8C9C-59A8C2AB78A7</key>
		<dict>
			<key>note</key>
			<string>Stores configuraiton data to disk</string>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>361EEA91-97CF-4908-8628-5F29198F42E6</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>3F81D499-33A5-44E8-8D22-F6309229F43B</key>
		<dict>
			<key>note</key>
			<string>Stores configuraiton data to disk</string>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>41AF5BED-C2EE-4FDC-B9DF-AFDEB347F6A8</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Apple script entry point for causing data refresh</string>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>1090</integer>
		</dict>
		<key>5396CADE-8847-4968-9A2F-051C2730315E</key>
		<dict>
			<key>note</key>
			<string>Re-open either Today or Tomorrow</string>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>1030</integer>
		</dict>
		<key>629EE274-2500-46EC-8DA5-35CD866A56C9</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>67A81BBE-1261-4883-8590-56E22BC259EB</key>
		<dict>
			<key>note</key>
			<string>Filter on non 'refersh' arguments</string>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>6AE08695-EE61-42D3-91F0-5CC3F4D9432D</key>
		<dict>
			<key>note</key>
			<string>Configuration Object</string>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>6C376C0C-F5B2-4E9A-8E56-AB87B3C51E5E</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>6CB617B9-B4FE-4CA5-9806-FA07E8C7DAB5</key>
		<dict>
			<key>note</key>
			<string>Reset all stored data for the workflow</string>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>76384EE5-7AB7-4FE2-8C3E-606BDCD5D54C</key>
		<dict>
			<key>note</key>
			<string>clear out alfred</string>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>1080</integer>
		</dict>
		<key>7B433338-B013-4871-9B80-8C2013262197</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>83FB8DCA-2FEC-4B0A-94E5-E1E35F80F549</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>If modifying google calendar settings</string>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>93885FA3-1489-43F1-ABDC-C30454BCE345</key>
		<dict>
			<key>note</key>
			<string>External trigger that allows an auto-refersh to happen</string>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>9685A5A9-008A-40CA-836D-5F71CD1D7481</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>9916EA2D-97B9-45BC-BAF6-C04A41BD96D3</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Authorize GCAL</string>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>B95A7CF4-4AF9-4388-8B53-E8CB6F3350FC</key>
		<dict>
			<key>note</key>
			<string>notify of updates</string>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>1190</integer>
		</dict>
		<key>BB49C951-D08C-4C86-88D1-E55D150207DD</key>
		<dict>
			<key>note</key>
			<string>Store the argument hopefully either Today or Tomorrow into a variable that will be used to re-trigger the calendar display</string>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>1120</integer>
		</dict>
		<key>BF83BB0D-9D59-416E-8049-8F1E25A79367</key>
		<dict>
			<key>note</key>
			<string>Store &amp; Refresh Filter</string>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>C648C777-D441-4C9C-97A0-F561B76C99BA</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>C9DAF303-DE18-4AF4-BFC2-882DA3F30140</key>
		<dict>
			<key>note</key>
			<string>There are two types of settings - toggle settings and stored values.</string>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>D7C83B7F-D112-4AA1-B7A3-20257A0F3D52</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>E54262CD-7EE8-42E4-A277-823EB0492941</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>And calendar is being enabled</string>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>3.4</string>
	<key>webaddress</key>
	<string>https://github.com/jeeftor/alfredToday</string>
</dict>
</plist>
