<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.jeef.today</string>
	<key>connections</key>
	<dict>
		<key>0ABF3E4E-934B-4EE9-9C6B-BA10DF534B47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F81D499-33A5-44E8-8D22-F6309229F43B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2FD9C804-F0F1-4F90-8C9C-59A8C2AB78A7</key>
		<array/>
		<key>361EEA91-97CF-4908-8628-5F29198F42E6</key>
		<array/>
		<key>3F81D499-33A5-44E8-8D22-F6309229F43B</key>
		<array/>
		<key>629EE274-2500-46EC-8DA5-35CD866A56C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C376C0C-F5B2-4E9A-8E56-AB87B3C51E5E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67A81BBE-1261-4883-8590-56E22BC259EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7C83B7F-D112-4AA1-B7A3-20257A0F3D52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6AE08695-EE61-42D3-91F0-5CC3F4D9432D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9DAF303-DE18-4AF4-BFC2-882DA3F30140</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6CB617B9-B4FE-4CA5-9806-FA07E8C7DAB5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>361EEA91-97CF-4908-8628-5F29198F42E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9685A5A9-008A-40CA-836D-5F71CD1D7481</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C376C0C-F5B2-4E9A-8E56-AB87B3C51E5E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF83BB0D-9D59-416E-8049-8F1E25A79367</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FD9C804-F0F1-4F90-8C9C-59A8C2AB78A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C648C777-D441-4C9C-97A0-F561B76C99BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0ABF3E4E-934B-4EE9-9C6B-BA10DF534B47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9DAF303-DE18-4AF4-BFC2-882DA3F30140</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF83BB0D-9D59-416E-8049-8F1E25A79367</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>67A81BBE-1261-4883-8590-56E22BC259EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7C83B7F-D112-4AA1-B7A3-20257A0F3D52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C648C777-D441-4C9C-97A0-F561B76C99BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jeff Stein</string>
	<key>description</key>
	<string>Exchange Server Today Menu</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Today Menu</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

python StoreData.py $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2FD9C804-F0F1-4F90-8C9C-59A8C2AB78A7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>refresh</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>BF83BB0D-9D59-416E-8049-8F1E25A79367</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query=$1

python settings.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6AE08695-EE61-42D3-91F0-5CC3F4D9432D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>C9DAF303-DE18-4AF4-BFC2-882DA3F30140</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>refresh</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>67A81BBE-1261-4883-8590-56E22BC259EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

python StoreData.py $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3F81D499-33A5-44E8-8D22-F6309229F43B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>set value</string>
				<key>subtext</key>
				<string>{query}</string>
				<key>text</key>
				<string>Set {var:text_to_display}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D7C83B7F-D112-4AA1-B7A3-20257A0F3D52</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>C648C777-D441-4C9C-97A0-F561B76C99BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>value_to_store</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0ABF3E4E-934B-4EE9-9C6B-BA10DF534B47</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

python reset.py $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>361EEA91-97CF-4908-8628-5F29198F42E6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"imagefile":"6849d05ab42b9360457406b5fc4e3b15aff5ecd7.png","title":"Keep Today Configuration As-Is","arg":"False","subtitle":"Dont do anything"},{"imagefile":"cb1a140b227f1b20db44a5f639f1d74237d5a6a2.png","title":"Reset Today Configuration to Default","arg":"True","subtitle":"This will restore the workflow to its default state"}]</string>
				<key>keyword</key>
				<string>tcreset</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Reset options to default</string>
				<key>title</key>
				<string>Clear Options</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>6CB617B9-B4FE-4CA5-9806-FA07E8C7DAB5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>today</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Calendar Data (this can take a few seconds)</string>
				<key>script</key>
				<string>query=$1

python doubleQuery.py 0</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>~/devel/exchangeAPI/today.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Today</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9685A5A9-008A-40CA-836D-5F71CD1D7481</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6C376C0C-F5B2-4E9A-8E56-AB87B3C51E5E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tomorrow</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Calendar Data (this can take a few seconds)</string>
				<key>script</key>
				<string>query=$1
python doubleQuery.py 1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>~/devel/exchangeAPI/today.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Tomorrow</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>629EE274-2500-46EC-8DA5-35CD866A56C9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Today Menu 2.0

Shows a today menu from Google Calendar and Microsoft Exchange 365

If you are using exchange currently it will only connect via EWS to a Microsoft Exchange server (ONLY USING BASIC AUTHORIZATION) and do a query to pull down the "Whats going on today" menu.  

It "may" be stuck on East Coast time for the time being

Uses a configurable cache

If you use LYNC or SKYPE and embed meetings in your evetns this workflow can also try to parse those guys out.

Will parse hangout meetings from list


Commands:

tc (config)
today 
tomorrow</string>
	<key>uidata</key>
	<dict>
		<key>0ABF3E4E-934B-4EE9-9C6B-BA10DF534B47</key>
		<dict>
			<key>note</key>
			<string>Sets what value to store for the storage option</string>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>2FD9C804-F0F1-4F90-8C9C-59A8C2AB78A7</key>
		<dict>
			<key>note</key>
			<string>Stores configuraiton data to disk</string>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>361EEA91-97CF-4908-8628-5F29198F42E6</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>3F81D499-33A5-44E8-8D22-F6309229F43B</key>
		<dict>
			<key>note</key>
			<string>Stores configuraiton data to disk</string>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>629EE274-2500-46EC-8DA5-35CD866A56C9</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>890</integer>
		</dict>
		<key>67A81BBE-1261-4883-8590-56E22BC259EB</key>
		<dict>
			<key>note</key>
			<string>Filter on non 'refersh' arguments</string>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>6AE08695-EE61-42D3-91F0-5CC3F4D9432D</key>
		<dict>
			<key>note</key>
			<string>Configuration Object</string>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>6C376C0C-F5B2-4E9A-8E56-AB87B3C51E5E</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>6CB617B9-B4FE-4CA5-9806-FA07E8C7DAB5</key>
		<dict>
			<key>note</key>
			<string>Reset all stored data for the workflow</string>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>9685A5A9-008A-40CA-836D-5F71CD1D7481</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>BF83BB0D-9D59-416E-8049-8F1E25A79367</key>
		<dict>
			<key>note</key>
			<string>Store &amp; Refresh Filter</string>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>C648C777-D441-4C9C-97A0-F561B76C99BA</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>C9DAF303-DE18-4AF4-BFC2-882DA3F30140</key>
		<dict>
			<key>note</key>
			<string>There are two types of settings - toggle settings and stored values.</string>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>D7C83B7F-D112-4AA1-B7A3-20257A0F3D52</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>2.0.3</string>
	<key>webaddress</key>
	<string>https://github.com/jeeftor/alfredToday</string>
</dict>
</plist>
